In [1]:
import requests
import os
import geopandas as gpd
import pandas as pd
import numpy as np
from shapely import wkt
from shapely.geometry import Point
import matplotlib.pyplot as plt
import folium

In [2]:
import plotly.graph_objects as go

In [3]:
import warnings
warnings.filterwarnings("ignore")

# Load

In [4]:
path_09 = ['/Users/Kahty/Location Research/data/mappluto_09v2/Bronx/BXMapPLUTO.shp',
           '/Users/Kahty/Location Research/data/mappluto_09v2/Brooklyn/BKMapPLUTO.shp',
           '/Users/Kahty/Location Research/data/mappluto_09v2/Manhattan/MNMapPLUTO.shp',
           '/Users/Kahty/Location Research/data/mappluto_09v2/Queens/QNMapPLUTO.shp',
           '/Users/Kahty/Location Research/data/mappluto_09v2/Staten_Island/SIMapPLUTO.shp']

In [5]:
dfs = []
for path in path_09:
    temp = gpd.read_file(path)
    temp['pluto_year'] = 2009
    dfs.append(temp)
pluto09 = pd.concat(dfs)

In [6]:
path_17 = ['/Users/Kahty/Location Research/data/mappluto_17v1_1/citywide/BXMapPLUTO.shp',
           '/Users/Kahty/Location Research/data/mappluto_17v1_1/citywide/BKMapPLUTO.shp',
           '/Users/Kahty/Location Research/data/mappluto_17v1_1/citywide/MNMapPLUTO.shp',
           '/Users/Kahty/Location Research/data/mappluto_17v1_1/citywide/QNMapPLUTO.shp',
           '/Users/Kahty/Location Research/data/mappluto_17v1_1/citywide/SIMapPLUTO.shp']

In [7]:
dfs = []
for path in path_17:
    temp = gpd.read_file(path)
    temp['pluto_year'] = 2017
    dfs.append(temp)
pluto17 = pd.concat(dfs)

In [8]:
path = '/Users/Kahty/Location Research/data/nyc_ct/nyc_ct.shp'
gdf = gpd.read_file(path)

In [9]:
gdf.crs = 'EPSG:4326'

# Spatially join CTs to PLUTO data

Spatial join: https://geopandas.org/docs/user_guide/mergingdata.html

In [10]:
pluto09 = pluto09.to_crs("EPSG:4326")
ct_pluto09 = gpd.sjoin(gdf, pluto09, op='contains')

In [11]:
ct_pluto09.head()

,OBJECTID,CTLabel,BoroCode_left,BoroName,CT2010,BoroCT2010,CDEligibil,NTACode,NTAName,PUMA,...,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,Version,MAPPLUTO_F,SHAPE_Leng,SHAPE_Area,pluto_year
0,1,9,5,Staten Island,900,5000900,E,SI22,West New Brighton-New Brighton-St. George,3903,...,50101,None,0.0,None,1,09v2,0,299.220253,4391.514618,2009
0,1,9,5,Staten Island,900,5000900,E,SI22,West New Brighton-New Brighton-St. George,3903,...,50101,None,0.0,None,1,09v2,0,506.605994,11579.538069,2009
0,1,9,5,Staten Island,900,5000900,E,SI22,West New Brighton-New Brighton-St. George,3903,...,50101,None,0.0,None,1,09v2,0,294.257424,4508.207312,2009
0,1,9,5,Staten Island,900,5000900,E,SI22,West New Brighton-New Brighton-St. George,3903,...,50101,None,0.0,None,1,09v2,0,284.575061,4006.557065,2009
0,1,9,5,Staten Island,900,5000900,E,SI22,West New Brighton-New Brighton-St. George,3903,...,50101,None,0.0,None,1,09v2,0,292.244279,4403.899054,2009

In [12]:
pluto17 = pluto17.to_crs("EPSG:4326")
ct_pluto17 = gpd.sjoin(gdf, pluto17, op='contains')

In [13]:
ct_pluto17.head()

,OBJECTID,CTLabel,BoroCode_left,BoroName,CT2010_left,BoroCT2010,CDEligibil,NTACode,NTAName,PUMA,...,APPBBL,APPDate,PLUTOMapID,FIRM07_FLA,PFIRM15_FL,Version,MAPPLUTO_F,SHAPE_Leng,SHAPE_Area,pluto_year
0,1,9,5,Staten Island,900,5000900,E,SI22,West New Brighton-New Brighton-St. George,3903,...,0.0,None,1,None,None,17V1.1,0,312.290638,5619.562639,2017
0,1,9,5,Staten Island,900,5000900,E,SI22,West New Brighton-New Brighton-St. George,3903,...,0.0,None,1,None,None,17V1.1,0,272.751966,4097.426082,2017
0,1,9,5,Staten Island,900,5000900,E,SI22,West New Brighton-New Brighton-St. George,3903,...,0.0,None,1,None,None,17V1.1,0,262.008098,4083.079567,2017
0,1,9,5,Staten Island,900,5000900,E,SI22,West New Brighton-New Brighton-St. George,3903,...,0.0,None,1,None,None,17V1.1,0,361.061242,8051.616076,2017
0,1,9,5,Staten Island,900,5000900,E,SI22,West New Brighton-New Brighton-St. George,3903,...,0.0,None,1,None,None,17V1.1,0,262.105786,4053.863689,2017

ct_pluto09.to_file("ct_pluto09.shp")
ct_pluto17.to_file("ct_pluto17.shp")